*{
  margin: 0px;
  padding: 0px;
}

body{
  min-width: 300px;
  background: #fff;
}

header.jumbotron{
  background: url('../../img/header.jpg') no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 700px;
  box-shadow: 0px 10px 10px 5px rgba(0,0,0,0.3);
}
section.container{
  .row.first{
    position: relative;
    top: -100px;
    .blue, .green, .orange{
      .thumb{
        box-shadow: 0px 25px 10px -10px rgba(0,0,0,0.3);
        transition: transform 0.5s linear 0s;
        width: 100%;
        position: relative;
        overflow: hidden;
        margin-bottom: -100px;
        transform:scale(1);
        &:hover{
          transform:scale(1.3);
          z-index: 1005;
        }
        img{
          width:100%;
          height:auto;
        }
        .text{
          padding: 15px;
          width:100%;
          height:30%;
          font-size: 20px;
          color: white;
          background-color: rgba(0,0,0,0.5);
          z-index: 1000;
          position:absolute;
          bottom: 0px;
          left: 0px;
        }
    }
    }
  }
  .row{
    margin-bottom: 30px;
    .discount{
      box-shadow: 0px 25px 10px -10px rgba(0,0,0,0.3);
      img{
        width: 100%;
        height: auto;
      }
      p{
        color: white;
        font-size: 25px;
        position: absolute;
        top: 15px;
        left: 35px;
      }
    }
  }
}

section.jumbotron{
  margin: 0px;
  background: #00ADEF;
  box-shadow: 0px 10px 10px 5px rgba(0,0,0,0.3);
  z-index: 1000;
}

section.jumbotron.map{
  position: relative;
  margin: 0px;
  height: 500px;
  z-index: -1;
  #googlemaps{
    height: 100%;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
  }
}

footer.jumbotron{
  background: url('../../img/footer.jpg') no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 400px;
  margin:0px;
  z-index: 1000;
  box-shadow: 0px -10px 10px 5px rgba(0,0,0,0.3);
}
